
@{
    ViewBag.Title = "Home page";
}

<h2>Index</h2>

<div id="manageCharacters">
    
</div>

@section Scripts
{
    <script src="@Url.Content("~/dist/src/reactComponents.js")"></script>
    <script>
        reactElements.loadCharacterManager('manageCharacters');
    </script>
}

